<% layout("/layouts/boilerplate") %>
<body>
    <style>
        #filters{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            
        }
        .filter{
            text-align: center;
            margin-left: 2rem;
            margin-top: 2rem;
            opacity: 0.7;
        }
        .filter:hover {
            opacity:1;
            cursor: pointer;
        }
        .filter p{
            font-size: 0.8rem;
        }
        .tax-info{
            display: none;
        }
        .tax-toggle{
            border: 1px solid black;
            border-radius: 1rem;
            height: 3rem;
            padding: 1rem;
            display: flex;
            align-items: center;
            margin-left: 5rem;
        }
    </style>
    
    <!-- <h3> All Listings</h3> -->
     <!-- Filter Toggle Button -->

     <!-- Collapsible Filters -->

     <div id="filters">
        <a href="/listings?category=trending" class="text-decoration-none text-dark d-block">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        </a>
        <a href="/listings?category=rooms" class="text-decoration-none text-dark d-block">
         <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        </a>
        <a href="/listings?category=city" class="text-decoration-none text-dark d-none d-md-block">
         <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </div>
        </a>
        <a href="/listings?category=mountain" class="text-decoration-none text-dark d-none d-lg-block">      
         <div class="filter">
            <div><i class="fa-solid fa-mountain-sun"></i></div>
            <p>Mountains</p>
        </div>
        </a>
        <a href="/listings?category=castle" class="text-decoration-none text-dark d-none d-lg-block">
         <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
        </a>
        <a href="/listings?category=pool" class="text-decoration-none text-dark d-none d-xl-block">
         <div class="filter">
            <div><i class="fa-solid fa-water-ladder"></i></div>
            <p>Amazing Pools</p>
        </div>
        </a>
        <a href="/listings?category=camping" class="text-decoration-none text-dark d-none d-md-block">
          <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        </a>
        <a href="/listings?category=farm" class="text-decoration-none text-dark d-none d-lg-block">
         <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>
        </a>
        <a href="/listings?category=arctic" class="text-decoration-none text-dark d-none d-xl-block">
        <div class="filter">
            <div><i class="fa-regular fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        </a>
        <a href="/listings?category=beach" class="text-decoration-none text-dark d-none d-xl-block">
        <div class="filter">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beach</p>
        </div>
        </a>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
             <label class="form-check-label" for="switchCheckDefault">Display Taxes</label>
            </div>
        </div>
     </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <%  for(let listing of allListings){%>
            <div class="card col listing-card">
            <a href="/listings/<%=listing._id%>" class="listing-link">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height:20rem;">
  <div class="card-img-overlay">
    <p class="card-text"><%= listing.location %></p>
    <p class="card-text"><small><%= listing.country %></small></p>
  </div>
            <div class="card-body">
            <p class="card-text"> 
            <b><h5><%= listing.title %></h5> </b><br>
            &#8377;<%= listing.price.toLocaleString("en-IN") %> / night 
            <i class="tax-info">&nbsp; &nbsp;+18% GST</i>
            </p>
            </a>
        </div>
    </div>
        <%}%> <br>
    </div>
</body>

<script>
    let taxSwitch = document.getElementById("switchCheckDefault");
    taxSwitch.addEventListener("click",()=>{
        let taxInfo = document.getElementsByClassName("tax-info");
        for( tax of taxInfo){
            if(tax.style.display!="inline"){
                tax.style.display ="inline";
            }
            else{
                tax.style.display ="none";
            }
            
        }
    });
</script>